* {
  margin: 0;
  padding: 0;
}

.top-navbar ul {
  list-style: none;
  background: #000;
  color: #fff;
  box-shadow: 0 0 1px #000;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
}

.top-navbar a {
  padding: 1rem;
  text-decoration: none;
  color: inherit;
  display: block;
  border-bottom: 1px solid #333;
}

.top-navbar a:hover {
  background: #fff;
  color: #000;
}

.splash {
  height: 100vh;
  background: url(https://source.unsplash.com/random) no-repeat center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash h1 {
  background: #fff;
  padding: 1rem;
  border-radius: 50px;
}

main {
  color: #333;
}

main article {
  padding: 2rem 1rem;
  overflow: auto;
}

main article:nth-child(odd) {
  background: #fee;
}

main article .article-image {
  border-radius: 50%;
  margin: 2rem auto;
  display: block;
}

main article .article-text {
  margin: 1rem;
}

main article h2 {
  margin: 1rem;
}

main article p {
  margin: 1rem;
}

footer {
  background: #000;
  color: #fff;
}

footer p {
  text-align: right;
  padding: 1rem;
}

@media (min-width: 768px) {
  .top-navbar ul {
    display: flex;
    position: fixed;
  }

  .top-navbar a {
    border: none;
  }

  main article .article-image {
    margin: 2rem;
    float: right;
  }

  main article:nth-child(odd) .article-image {
    float: left;
  }
}